<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <p><%= product.name %></p>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
    <p><%= quantity %></p>
  </td>
  <td>
    <p><%= product.price * quantity %></p>
  </td>
</tr>