<tr>
  <td>
    <%= image_tag product.image %>
  </td>
  <td>
    <p class="order-title"><%= product.name %></p>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
    <p><%= product.quantity %></p>
  </td>
  <td>
    <p><%= product.price * product.quantity %></p>
  </td>
</tr>